{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% block title %}{{ course.title }} - 课程详情 - 翻转课堂{% endblock %}

{% block container %}
    <div class="ui text container">
        <div class="ui huge header">{{ course.title }}</div>
        <div class="ui container">讲师: {{ course.author.username }}</div>
        <div class="ui tiny header">{% if not course.detail %}暂无{% endif %}课程介绍</div>
        <div class="ui divider"></div>
        <p>{{ course.detail | markdown }}</p>
        <div class="ui divider"></div>
        {% if request.user.is_authenticated %}
            {% if in_group %}
                你已加入<a href="{% url 'group_detail' in_group.id %}"><div class="ui green button">{{ in_group.name }}</div></a>
            {% else %}
                {% if request.user.user_type == request.user.STUDENT %}
                <div class="ui buttons">
                    <a href="{% url 'create_group' course.id %}"><button class="ui positive button">创建团队</button></a>
                    <div class="or" data-text="或"></div>
                    <a href="{% url 'groups' %}?course={{ course.id }}"><button class="ui primary button">加入团队</button></a>
                </div>
                {% endif %}
            {% endif %}
        {% else %}
            <div class="ui warning message">登陆后即可组队、参与课程
                <a href="{% url 'login' %}"><div class="ui blue button">前往登录</div></a>
            </div>
        {% endif %}
        <div class="ui divider"></div>
        <div class="ui tiny header">{% if not course_article %}暂无{% endif %}教师提供的课程文章</div>
        {% for article in course_article %}
            <div class="ui piled segment">
                {% if article.is_task_article %}
                    <a class="ui orange ribbon label">任务文章</a>
                    {% if is_author_teacher %}
                        <a class="ui green top right attached label" href="{% url 'course:task_list' article.id %}">
                            <i class="checkmark icon"></i> 查看学生提交
                        </a>
                    {% elif in_group and article.uploaded_this_task %}
                        <a class="ui big green top right attached label" href="{% url 'course:task_list' article.id %}">
                            <i class="check circle outline icon"></i>已提交
                        </a>
                    {% elif in_group and not article.uploaded_this_task %}
                        <a class="ui big red top right attached label" href="{% url 'course:task_list' article.id %}">
                            <i class="arrow circle outline up icon"></i>去提交
                        </a>
                    {% endif %}
                {% else %}
                    <a class="ui blue ribbon label">普通文章</a>
                {% endif %}
                <span>{{ article.title }}</span>
                <p>{{ article.content | markdown }}</p>
            </div>
        {% endfor %}
        <div class="ui divider"></div>
        <div class="ui tiny header">{% if not groups %}暂无{% endif %}课程团队</div>
        {% for group in groups %}{% include 'pices/group_without_course.html' %}{% endfor %}
    </div>
{% endblock %}
