{% extends 'base.html' %}

{% block title %}课程列表{% endblock %}

{% block container %}
    <div class="ui text container">
        {#标题#}
        <div class="ui huge header">课程列表</div>
        {% for course in p.object_list %}
            <div class="ui huge left aligned segment">
                <a href="{% url 'course' course.pk %}">{{ course.title }}</a>
                <div class="ui right">讲师：{{ course.author.username }}</div>
            </div>
        {% endfor %}
        {% include 'paginator.html' %}
    </div>
{% endblock %}
