{% extends 'base.html' %}

{% block title %}{{ group.name }} - 团队 - 翻转课堂{% endblock %}

{% block container %}
    <div class="ui text container">
        <h2 class="ui header">学生团队: {{ group.name }}</h2>
        <div class="ui divider"></div>
        <h3 class="ui header">所属课题: <a href="{% url 'course_detail' group.belong.pk %}">{{ group.belong.title }}</a></h3>
        <h3>组长: <a href="{% url 'user_detail' group.creator.username %}">{{ group.creator.username }}</a></h3>
        <h3 class="ui header">团队成员</h3>
        <div class="ui divider"></div>
        <div class="ui horizontal divided list">
            {% for member in group.members.all %}
                <div class="item">
                    <img class="ui avatar image" src="/static/images/logo.png">
                    {# ToDo: 日后添加用户头像 #}
                    <div class="content">
                        <div class="header">{{ member.username }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if group.members.count < group.belong.group_members_max %}
            {% if is_creator %}
                <h3 class="ui header">邀请加入队伍</h3>
                <div class="ui divider"></div>
                {% if not users %}<h4 class="ui header">暂无可加入成员</h4>{% endif %}
                <div class="ui middle aligned divided list">
                    {% for member in users %}
                        <div class="item">
                            <div class="right floated content">
                                <a href="{% url 'invite_into_group' group.pk member.pk %}"><div class="ui button">邀请</div></a>
                            </div>
                            <img class="ui avatar image" src="/static/images/logo.png"/>
                            <div class="content">{{ member.username }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% elif can_join %}
                <div class="ui divider"></div>
                <a href="{% url 'apply_into_group' group.pk %}"><button class="ui green button">申请加入队伍</button></a>
            {% endif %}
        {% else %}
            <h3 class="ui header">队伍已满</h3>
        {% endif %}
    </div>
{% endblock %}
