{% extends 'base.html' %}

{% block title %}创建团队 - 翻转课堂{% endblock %}

{% block container %}
    <div class="ui text container">
        <div class="ui large header">创建团队 - 课题: {{ course.title }}</div>
        <form class="ui large form" method="post">
            {% csrf_token %}
            <div class="ui stacked segment">
                <div class="field">
                    <p>为你的团队起一个霸气的名字吧</p>
                    <div class="ui input"><input name="name" placeholder="" type="text"></div>
                </div>
                <div class="ui fluid large teal submit button">提交</div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function () {$(".ui.form").form();});
</script>
{% endblock %}
