{% extends 'base.html' %}
{% load fun_filter %}

{% block title %}{{ group.name }} - 团队 - 翻转课堂{% endblock %}

{% block container %}
    <div class="ui text container">
        <h2 class="ui header">学生团队: {{ group.name }}</h2>
        <div class="ui divider"></div>
        <h3 class="ui header">所属课题: <a href="{% url 'course:detail' group.belong.pk %}">{{ group.belong.title }}</a></h3>
        <h3>组长: <a href="{% url 'user_detail' group.creator.username %}">{{ group.creator.username }}</a></h3>
        <h3 class="ui header">团队成员</h3>
        <div class="ui divider"></div>
        <div class="ui horizontal divided list">
            {% for member in group.members.all %}
                <div class="item">
                    <img class="ui avatar image" src="/static/images/logo.png">
                    {# ToDo: 日后添加用户头像 #}
                    <div class="content">
                        <div class="header">{{ member.username }}</div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if can_invite %}{# 如果能够发起邀请 #}
            <h3 class="ui header">邀请加入队伍</h3>
            <div class="ui divider"></div>
            {% if not users %}<h4 class="ui header">暂无可加入成员</h4>{% endif %}
            <div class="ui middle aligned divided list">
                {% for member in users %}
                    <div class="item">
                        <div class="right floated content">
                            {% if not group|add_arg:member|call:"already_invite" %}{# 未被邀请 #}
                                <a href="{% url 'invite_into_group' group.pk member.pk %}"><div class="ui green button">邀请</div></a>
                            {% else %}
                                <div class="ui disabled button">已邀请</div>
                            {% endif %}
                        </div>
                        <img class="ui avatar image" src="/static/images/logo.png"/>
                        <div class="content">{{ member.username }}</div>
                    </div>
                {% endfor %}
            </div>
        {% elif can_join %}{# 能够发起加入申请 #}
            <div class="ui divider"></div>
            <a href="{% url 'apply_join_group' group.pk %}"><button class="ui green button">申请加入队伍</button></a>
        {% elif can_quit %}{# 能够发起退出申请 #}
            <div class="ui divider"></div>
            <a href="{% url 'apply_quit_group' group.pk %}"><button class="ui red button">申请退出队伍</button></a>
        {% endif %}
    </div>
{% endblock %}
