{% extends "base.html" %}

{% block title %}翻转课堂{% endblock %}

{% block container %}
{#    <div class="ui huge center aligned header">翻转课堂</div>#}
    <div class="ui text container">
        <h1 class="ui extra header">
            翻转课堂
        </h1>
        <div class="ui  card">
            <div class="ui content">
            创课是一种创新、实践、分享的教育活动，鼓励学生在探索、发明、创造中主动与协作学习。创课就是以开展创新教育、培养创新人才为出发点，将一种新的教学想法转化为教学现实的过程。
                </div>
        </div>
        <div class="ui primary button">
            了解更多<i class="right arrow icon"></i>
        </div>
    </div>
{% endblock %}
